.callout[data-callout=""]{

    --callout-color: --color-base-00;
    
}
.callout .callout-icon {
  display: none;
}

.callout .callout-title {
    color: rgb(#DADADA);
    justify-content: center;
    height: 40px;
    padding-top: 9px;
}

strong {
  color: #6CEE99 !important;

}

.callout:is([data-callout-metadata^="txt"]){
  background-color: #33333300 !important;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
  border-radius: 10px !important;
} 

.callout:is([data-callout-metadata^="npr"]){
  border-color: #6CEE99 !important;
  border-width: 2px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
  border-radius: 10px !important;
  background-color: black;
  
} 
.is-collapsed:is([data-callout-metadata^="dokaz"]){
  height: 30px !important;
  color: black !important;
  margin-bottom: 30px;
}
.callout:is([data-callout-metadata^="dokaz"]){
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  overflow: visible !important;
  background-color: rgba(0, 0, 0, 0); 
} 
.callout:is([data-callout-metadata^="dokaz"]) > .callout-title{
    color: #6CEE99;
    justify-content: left;
    height: 30px;
    padding-top: 0px;
} 
.callout:is([data-callout-metadata^="dokaz"]) > .callout-content{
    overflow-x:visible !important;
} 




.is-collapsed:is([data-callout-metadata^="hide"]){
  height: 30px !important;
  color: black !important;
  margin-bottom: 30px;
}
.callout:is([data-callout-metadata^="hide"]){
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  overflow: visible !important;
  background-color: rgba(0, 0, 0, 0); 
} 
.callout:is([data-callout-metadata^="hide"]) > .callout-title{
    color: #dadada;
    justify-content: left;
    height: 30px;
    padding-top: 0px;
} 
.callout:is([data-callout-metadata^="hide"]) > .callout-content{
    overflow-x:visible !important;
} 

.is-collapsed:is([data-callout-metadata^="hidec"]){
  height: 30px !important;
  color: black !important;
  margin-bottom: 30px;
}
.callout:is([data-callout-metadata^="hidec"]){
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  overflow: visible !important;
  background-color: rgba(0, 0, 0, 0); 
} 
.callout:is([data-callout-metadata^="hidec"]) > .callout-title{
    color: #dadada;
    justify-content: center;
    height: 30px;
    padding-top: 0px;
} 
.callout:is([data-callout-metadata^="hidec"]) > .callout-content{
    overflow-x:visible !important;
} 





.callout{
  background-color: #ffffff04;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
  border-radius: 10px !important;
} 

.callout{
  & > div > ul > li {
    background-color: #00000000 !important;
    left: 0px !important;
    padding-left: 4px;
    padding-right: 0px;
  } 
  & > div > ol > li {
    background-color: #00000000 !important;
    left: 0px !important;
    padding-left: 4px;
    padding-right: 0px;
  } 
  
}
/*
.callout:is([class="callout is-collapsible"]) .callout-title-inner {
  
}
  --callout-color: 130,130,130;

.callout-title{
 justify-content: center;
}
.callout-fold{
  display: none;
}
  
.callout:is([data-callout-metadata^="noicon"]) .callout-icon {
    display: none;
}


*/