/*

V :root spreminjas general padding pa --padding-right



*/

h1 {
  font-size: 38px !important;

}   
h2 {
  font-size: 30px !important;
  
}     
h3 {
  font-size: 22px !important;
}   
.mod-header{
  font-size: 21px !important;
  margin-bottom: 4% !important;
}       

em{
  color: rgb(162, 162, 162);
} 

strong{
  color: #6CEF9A;
}
:root {
  --padding-right: 28%; 
  /*28%*/
  --general-padding: 74px;
  /*74px%*/

}


  
  /*    & > div > p:has(span.marg) {*/
.markdown-preview-section > div > p:not(:empty):not(:has(*)),
.markdown-preview-section > div > p:has(.marg),
.markdown-preview-section > div > p:has(.math-inline),
.markdown-preview-section > div > p:has(strong),
.markdown-preview-section > div > p:has(em),
.markdown-preview-section > div > p:has(br) {
  justify-self: 50%;
  padding-right: var(--padding-right); 
  padding-left: 0%;
}

li{
  padding-right: calc(var(--padding-right) - 40%);
  margin-inline-start: 30px !important;
  margin-inline-end: 30px;
}

.kanban-plugin__markdown-preview-view li{
  padding: var(--file-margins) !important;
}


.callout li{
  background-color: black !important;
  padding-right: 10%;
  padding-left: 1px;
  left: 19px;
  margin-inline-start: 30px !important;
  margin-inline-end: 30px;
}


/*125*/

.marg{
    width: 165px;
    z-index: 9999;
    padding-top: 2px;
    position: absolute;
    left: 50%;
    margin-left: 150px; 
    font-size: 14px;
    color: rgb(189, 189, 189); 
    font-style: italic;
}

.markdown-preview-section {
  & > div{
      padding-left: --general-padding !important;
      padding-right: --general-padding !important;
  } 
}
